/* Navbar */
.navbar {
    position: fixed;
    top: 22px;
    right: 22px;
    z-index: 1000;
    display: flex;
    gap: 15px;
    background: none;
    flex-direction: row;
    align-items: center;
    transition: all 0.3s;
}

.nav-pill {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 25px;
    background: transparent;
    border: none;
    box-shadow:
    0 6px 32px rgb(165, 165, 165),
    0 2px 10px rgb(255, 255, 255) inset,
    0 1px 1px rgb(255, 255, 255) inset;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: invert(1) blur(3px) saturate(120%) brightness(70%);
    -webkit-backdrop-filter: invert(1) blur(3px) saturate(120%) brightness(70%);
    border: 1px solid rgba(255, 255, 255, 0);
}

.nav-pill .nav-pill-text {
    font-family: 'Cabin', Arial, sans-serif !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    background-blend-mode: difference;
}

.nav-pill:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
}

/* Burger menu button */
.burger-btn {
    display: none;
    position: fixed;
    top: 33px;
    right: 22px;
    z-index: 1001;
    width: 60px;
    height: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease;
    outline: none;
    mix-blend-mode: difference;
}

.burger-btn:hover {
    transform: scale(1.05);
}

.burger-line {
    width: 28px;
    height: 4.5px;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
    border-radius: 2px;
}

.burger-btn.active .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
}

.burger-btn.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-btn.active .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

/* Responsive Navbar */
@media (max-width: 1150px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 0;
        top: 20px;
        left: 25px;
        border-radius: 20px;
        display: none;
    }
    .navbar.active {
        display: flex;
    }
    .nav-pill {
        margin: 5px 0;
    }
    .burger-btn {
        display: flex;
    }
    .nav-pill .nav-pill-text {
        font-size: 15px !important;
    }
} 

